{% extends "base.html" %}
{% block content %}

<section class="section">
  <h1 class="title">XSS - Stored</h1>

    <div class="block">

  <h2 class="subtitle">Send Message</h2>
  <form action="/xss/stored" method="post">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" id="message" name="message" required minlength="3">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Submit</button>
        </div>
      </div>
  </form>
</div>

<div class="block">

  <h2 class="subtitle">Messages</h2>
  <div class="content">
    {% autoescape false %}
        {% for msg in messages %}
            <article class="message">
              <div class="message-body">
                {{ msg }}
              </div>
            </article>
        {% endfor %}
    {% endautoescape %}
  </div>
</div>
</section>
{% endblock %}