<nav class="navbar" role="navigation" aria-label="main navigation">
  <!-- <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div> -->

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('home') }}">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          SQL Injection
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ url_for('sql_injection_login') }}">
            Login
          </a>
          <a class="navbar-item" href="{{ url_for('sql_injection_search') }}?q=">
            Search
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          XSS
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ url_for('xss_reflected') }}?search=">
            Reflected
          </a>
          <a class="navbar-item" href="{{ url_for('xss_stored') }}">
            Stored
          </a>
          <!-- <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a> -->
        </div>
      </div>

      <a class="navbar-item" href="{{ url_for('file_upload') }}">
        File Upload
      </a>

      <a class="navbar-item" href="{{ url_for('ssrf') }}">
        SSRF
      </a>

      <a class="navbar-item" href="{{ url_for('path_traversal') }}">
        Path Traversal
      </a>

      <a class="navbar-item" href="{{ url_for('idor_login') }}">
        IDOR
      </a>

      <a class="navbar-item" href="{{ url_for('iframe_injection') }}?page=/static/pages/about.html">
        IFrame Injection
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" onclick="resetDatabase()" id="btnResetDatabase">
            Reset Database
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>